.card-img-top {
    height: 200px;
    object-fit: cover;
}

* {
  position: relative;
}

/* TODO: different types of alerts (success, failed, product removed) */
.flash-alert {
    animation: fadeOut 2s ease forwards;
    position: fixed;
    top: 20px;
    z-index: 10;
    padding: 12px;

    min-width: auto;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    opacity: 1;
  }

  /* .flash-alert.hide {
    opacity: 0;
    transform: translateY(20px);
    visibility: hidden;
    } */
  
  /* .flash-alert.success {
    background-color: #28a745;
  }
  
  .flash-alert.error {
    background-color: #dc3545;
  }
  
  .flash-alert.info {
    background-color: #17a2b8;
  } */
  
  @keyframes fadeOut {
    0% { opacity: 1; }
    70% { opacity: 1; } /* Stay fully visible for the first 70% of time */
    100% { opacity: 0; }
  }